In [1]:
from datetime import date
import requests
from requests_ntlm import HttpNtlmAuth
import pandas as pd
import ipywidgets as widgets
import matplotlib.pyplot as plt
%matplotlib inline

Download newest data from ECDC website. This uses the current date from your computer.

In [2]:
today = date.today()
ecdcUrl = ('https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-%s.xlsx' %today)
fname = 'ecdc.xlsx'

r = requests.get(ecdcUrl, auth=HttpNtlmAuth(':',':'))

with open(fname, 'wb') as f:
    f.write(r.content)

In [3]:
totalData = pd.read_excel(fname)
#totalData.tail()

Select countries to compare. Command or ctrl select different countries.

In [7]:
countries = totalData['Countries and territories'].unique()
countrySelector = widgets.SelectMultiple(
    options=countries,
    description='',
    rows=15,
)
countrySelector

SelectMultiple(options=('Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua_and_Barbuda', 'Argeâ€¦

In [9]:
analyzedCountries = countrySelector.value
print(analyzedCountries)
#gapminder.year.isin(years)
df = totalData[totalData['Countries and territories'].isin(analyzedCountries)]
df.reset_index(inplace=True)
df.head()

('Brazil', 'China', 'Germany', 'Italy', 'Singapore')

,index,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId
0,806,2020-03-22,22,3,2020,224,7,Brazil,BR
1,807,2020-03-21,21,3,2020,283,5,Brazil,BR
2,808,2020-03-20,20,3,2020,193,2,Brazil,BR
3,809,2020-03-19,19,3,2020,137,3,Brazil,BR
4,810,2020-03-18,18,3,2020,57,1,Brazil,BR