In [33]:
from datetime import date
from requests_ntlm import HttpNtlmAuth
import pandas as pd
import ipywidgets as widgets

Download newest data from ECDC website. This uses the current date from your computer.

In [27]:
today = date.today()
ecdcUrl = ('https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-%s.xlsx' %today)
fname = 'ecdc.xlsx'

r = requests.get(ecdcUrl, auth=HttpNtlmAuth(':',':'))

with open(fname, 'wb') as f:
    f.write(r.content)

In [30]:
df = pd.read_excel(fname)
df.tail()

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId
6183,2020-03-21,21,3,2020,0,0,Zambia,ZM
6184,2020-03-20,20,3,2020,0,0,Zambia,ZM
6185,2020-03-19,19,3,2020,2,0,Zambia,ZM
6186,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW
6187,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW

In [40]:
print(df.columns)
#df.'Countries and territories'.unique()

Index(['DateRep', 'Day', 'Month', 'Year', 'Cases', 'Deaths',
       'Countries and territories', 'GeoId'],
      dtype='object')

In [37]:
widgets.Dropdown(
    options=[('One', 1), ('Two', 2), ('Three', 3)],
    value=1,
    description='Select Country:',
)

Dropdown(description='Select Country:', options=(('One', 1), ('Two', 2), ('Three', 3)), value=1)